

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}


.link{    
    color: var(--secondary-text-color);
    padding: 4px 16px;

    &.active {
        color: var(--active);        
    }

    &:hover, &:focus {
        
        border-radius: 8px;
        box-shadow:  4px 4px 1px 0px rgba(0, 0, 0, 0.3);

        
    }

}



.shadowLine {
     box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}